<footer class="footer">
	<small>
		<a href="http://tamos.com.ar/" target="_blank">Tamos</a>
		by PEP Systems
	</small>
	<nav>
		<ul>
			<li><%= link_to "Acrca de", '#' %></li>
			<li><%= link_to "Ayuda", '#' %></li>
			<li><%= link_to "Contacto", '#' %></li>
			<li><a href="http://news.railstutorial.org/" target="_blank">News</a></li>
		</ul>
	</nav>
</footer>
