<% provide(:title, '') %>
<div class="center hero-unit">
	<h1>Bienvenido a Tamos</h1>
	
	<h2>En construcción.</h2>
	<p>Tamos es una red social orienteada a eventos.</p>
	<p>La página oficial es: <a href="http://www.tamos.com.ar" target="_blank">tamos.com.ar</a>.</p>
	<p>Pronto empezarás a vivir tus salidas de otra manera... <b>¿tamos?</b></p>
	
	<%= link_to "Registrate!", registro_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/', target:"_blank" %>
